/* yale-blue: #00356B */

body {background-color : #00356B;}

.heading {
    margin-top: 1rem;
    font-weight: bolder;
    /* margin-right: auto;
    margin-left: auto; */
}

.welcome {
    /* padding: 5rem; */
    /* margin: auto;
    width: 50%; */
    text-align: center;
}

/* .form-container {
    background-color: white;
    box-sizing: border-box;
    width: 40rem;
    margin: 32px auto;
    padding: 32px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
} */

/* input fields */
/* input[type=tel], input[type=number], textarea {
    width: 100%;
    padding: 12px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    background: #f1f1f1;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 4px;
} */

/* place labels on top of input fields */
/* input, label {
    display:block;
} */

/* submit button */
/* input[type=submit] {
    background-color: #00356B;
    border: none;
    border-radius: 10px;
    padding: 12px 15px;
    width: 80%;
    color: white;
    margin-top: 28px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8px;
} */

/* 
input[type=submit]:hover {
    opacity: 0.6;
    cursor:pointer;
} */

.btn-primary {
    background-color: #00356B;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 8px;
}

.btn-primary:hover {
    background-color: #00478f;
}

p {
    text-align: center;
}
