<h1>My Posts</h1>

<table class="table w-auto m-3">
  <thead>
    <tr>
      <th class="w-50" scope="col">Title</th>
      <th scope="col">Created</th>
      <th class="w-25" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @my_posts.each do |post| %>
        <tr>
            <th scope="row"><%= post.title %></th>
            <td><%= post.create_date %></td>
            <td>
                <div class="d-flex">
                    <%= button_to "View", post_path(post), method: 'get', class: "btn btn-primary me-2" %>
                    <%= button_to "Edit", edit_post_path(post), method: 'get', class: "btn btn-primary" %>
                </div>
            </td>
        </tr>
    <% end %>
  </tbody>
</table>
