<h1>Posts</h1>
<br>

    <% @posts.each do |post|%>
    <hr>
        <tr>> <%= link_to post.title, post_path(post) %></tr>
    <% end %>
<hr>

<br>

<p><%= link_to "Create a new Post", new_post_path%></p>