<footer class="text-muted py-5">
  <div class="container">
      <p class="float-end mb-0">
        made with ♥ by TJ Han, Anh Dang, and Kyle Andruczk
    </p>
    <p class="mb-1">
      <a href="#">Back to top</a>
    </p>

  </div>
</footer>